<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">

    <h1>Beijing, China</h1>
    <div class="row">
        <div class="col-5">
            <p>Average Temperature: {{temp}} degrees</p>
            <p>Minimum Temperature: {{minTemp}} degrees</p>
            <p>Maximum Temperature: {{maxTemp}} degrees</p>
            <p>Humidity: {{humidity}}%</p>
            <p>Current conditions: {{description}}</p>
        </div>
        <div class="col-6">
            <img src="https://www.easytourchina.com/images/Photo/summer-palace/p498_d20180907100726_thumb_m.jpg"
                alt="#" style="max-width: 100%">
        </div>
    </div>


    <a href="/">Go Home</a>
</div>