<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <p> Counter: <%= view_count %> </p>
            <a class = "btn btn-primary" href="/addtwo">Add 2</a>
            <a class = "btn btn-primary" href="/reset">Reset Views</a>
        </div>
    </div>
</body>
</html>