<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid d-inline-block">
        <a href="/cats/1"><img src="/images/cat1.jpg" class="img-fluid offset-1" style="width:40%" alt="Car1 goes here"></a>
        <a href="/cats/2"><img src="/images/cat2.jpg" class="img-fluid offset-1" style="width:40%" alt="Car1 goes here"></a>
    </div>

    <div class="container-fluid d-inline-block mt-2">
        <a href="/cats/3"><img src="/images/cat3.jpg" class="img-fluid offset-1" style="width:40%" alt="Car1 goes here"></a>
        <a href="/cats/4"><img src="/images/cat4.jpg" class="img-fluid offset-1" style="width:40%" alt="Car1 goes here"></a>
    </div>
</body>
</html>