<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">
    <h1>Favorite Authors</h1>
    <a [routerLink]="['']">
        <h2>Home</h2>
    </a>
    <p>Edit this author:</p>
    <div class="row">
        <div class="col-5">
            <form>
                <div class="form-group">
                    <label for="author_name">Name:</label>
                    <input type="text" class="form-control" id="author_name" placeholder="Name" name="editAuthor.name" [(ngModel)] = "editAuthor.name" >
                </div>
                <div class="btn-group" role="group">
                        <a [routerLink]="['']"><button class="btn btn-danger mr-3">Cancel</button> </a>
                        <button (click) = "updateAuthor()" [routerLink] = "['']" type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>