<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">
    <h1>Edit this quote</h1>
    <a [routerLink]="['']">
        <h2>Home</h2>
    </a>
    <p>Add a new Quote:</p>
    <div class="row">
        <div class="col-5">
            <form>
                <div class="form-group">
                    <p> {{ editQuote.content | json }} </p>
                    <label for="quote">Quote:</label>
                    <input type="text" class="form-control" id="author_name" name="editQuote" [(ngModel)]="editQuote.content"
                    required
                    minlength="3"
                    maxlength="20"
                    #editQuote = "ngModel"
                    />
                    <div *ngIf="!editQuote.pristine && editQuote.errors">Edit Quote Error</div>
                </div>
                <div class="btn-group" role="group">
                    <a [routerLink]="['']"><button class="btn btn-danger mr-3">Cancel</button> </a>
                    <button (click)="updateQuote()" [routerLink]="['']" type="button"
                        class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>