<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">
    <h1>Add a Quote</h1>
    <a [routerLink]="['']">
        <h2>Home</h2>
    </a>
    <p>Add a new Quote:</p>
    <div class="row">
        <div class="col-5">
            <form>
                <div class="form-group">
                    <p> {{ newQuote | json }} </p>
                    <label for="quote">Quote:</label>
                    <input type="text" class="form-control" id="author_name" placeholder="Quote" name="quote" [(ngModel)] = "newQuote.content"
                    required
                    minlength="3"
                    maxlength="20"
                    #quote = "ngModel"
                    />
                    <div *ngIf="!quote.pristine && quote.errors">Quote Error</div>
                </div>
                <div class="btn-group" role="group">
                    <a [routerLink]="['']"><button class="btn btn-danger mr-3">Cancel</button> </a>
                    <button (click)="addQuote()" [routerLink] = "['/quotes', id]" type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>