<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">
    <h1>Singapore</h1>
    <div class="row">
        <div class="col-5">
            <p>Average Temperature: {{temp}} degrees</p>
            <p>Minimum Temperature: {{minTemp}} degrees</p>
            <p>Maximum Temperature: {{maxTemp}} degrees</p>
            <p>Humidity: {{humidity}}%</p>
            <p>Current conditions: {{description}}</p>

        </div>
        <div class="col-6">
            <img src="https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="#" style="max-width: 100%">
        </div>
    </div>

    <a href="/">Go Home</a>
</div>