<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to Attack on Titan!</h1>
        <form class="mt-5" action="/titans" method="POST">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Titan Name:</label>
                <div class="col-6">
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>

            <div class="form-group row">
                <label for="height" class="col-2 col-form-label">Height:</label>
                <div class="col-6">
                    <input type="text" class="form-control" id="height" name="height">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-2 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <!-- <a class="btn btn-primary" href="/quotes">Skip to quotes</a> -->
                </div>
            </div>
        </form>
        <div class="errors">
            <!-- based on the structure of your messages, determine how to display them -->
            <% if(messages.new_titan) { %>
            <% for (var x of messages.new_titan) { %>
            <h3><%= x %></h3>
            <% } %>
            <% } %>
        </div>
    </div>
</body>

</html>